body{
    font-family: sans-serif;
}

header {
    display: flex;
}

#header-img {
    width: min(10vw, 100px);
}

header div#title {
    display: flex;
    align-items: center;
    width: 70%;
}

header span {
    font-size: 50px;
}

#nav-bar {
    padding-right: 30px;
    padding-bottom: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 30%;
    gap: 30px;
}

nav a {
    text-decoration: none;
    color: black;
    font-size: large;
}