body{
    font-family: sans-serif;
}

header {
    display: flex;
}

#header-img {
    width: min(20vw, 90px/1.2);
}

header div#title {
    display: flex;
    align-items: center;
}

header span {
    font-size: min(20vw, 60px);
}